version : '3'

services:
  webapp:
    container_name: cityapi
    build: .
    ports:
      - '5002:5002'
    depends_on:
      - mysql  
    links:
      - mysql
  mysql:
    image: mysql:latest
    container_name: dev_mysql
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_USER: user
      MYSQL_PASSWORD: user
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: API
    ports:
      - 3306:3306
    volumes:
      - /root/mysqldata:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: dev_pma
    links:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 0
    restart: always
    ports:
      - 8082:80
